h2,
form,
.profile {
  font-size: 1.5rem;
  text-align: left;
  color: #e5e2e2;
}

h2 {
    font-size: 2rem;
}

fieldset,
.profile > p {
  margin: 15px 0;
  border: none;
}

input {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 8px;
}

form > button,
.profile > button {
  font-size: 1.25rem;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #e5e2e2;
  background-color: #363636;
  cursor: pointer;
}
