* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #363636;
  user-select: none;
}

h1 {
  width: 100%;
  font-size: 3rem;
  color: #e5e2e2;
  background-color: #ff2020;
  padding: 5px;
  margin-bottom: 50px;
}

.cv {
  max-width: 1080px;
  width: 100%;
}